.init{
	color:#737373;
	line-height:20px;
	font-family:courier New,courier;
}

.red{
	color:#ffffff;
	background-color:red;
	line-height:20px;
	font-family:courier New,courier;
}

.green{
	color:#a600a6;
	line-height:20px;
	font-family:courier New,courier;
}

.cursor{
	background-color:#cdcdcd;
}

.hidden_box{
	width:10px;
	background-color:#222222;
	color:#222222;
	border:0px solid #222222;
	float:right;
}

.focus_click{
	min-height:300px;
	/*border:1px solid red;*/
}
