<!--link rel="stylesheet" type="text/css" href="/asset/css/typing.css" /-->


<div>
	<ul class="pagination pagination-sm">
		<li class="write">
			<a class="pointer" ng-click="write_dialog()">write</a>
		</li>
		<li class="{{ paging_prev }}">
			<a class="pointer" ng-click="list($event)" data-page="pprev">«</a>
		</li>
		<li ng-repeat="paging in pagings" class="{{ paging.class_n }}">
			<a class="pointer" ng-click="list($event)" data-page="{{ paging.i }}">{{ paging.i }}</a>
		</li>
		<li class="{{ paging_next }}">
			<a class="pointer" ng-click="list($event)" data-page="nnext">»</a>
		</li>
	</ul>
<div>

<!-- Board AREA -->
<div class>
	<table class="table table-striped">
		<colgroup>
			<col width="5%">
			<col width="*">
			<col width="20%">
		</colgroup>
		<thead>
		<tr>
			<th>NO.</th>
			<th>SUBJECT.</th>
			<th>DATE.</th>
		</tr>
		</thead>
		<body>

		<tr ng-hide="none_hide">
			<td colspan="3">DATA NONE.</td>
		</tr>

		<tr ng-repeat="list in lists" ng-hide="list_hide"  class="ng-ani-enter">
			<td>{{ list.no }}</td>
			<td>{{ list.subject }}</td>
			<td>{{ list.regdate }}</td>
		</tr>

		</body>

	</table>
</div>



<!-- DIALOG -->
<div ng-controller="boardDialogController" style="display:none">
<script type="text/ng-template" id="dialog_comm">
	<div class="modal-header">
		<h4 class="modal-title">WRITE</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
		  <fieldset>

			<div class="form-group">
			  <label for="select" class="col-lg-2 control-label">CATEGORY</label>
			  <div class="col-lg-10">
				<div style="padding:10px;">
			    <input type="radio" name="category_ui" value="select">SELECT
				&nbsp;
			    <input type="radio" name="category_ui" value="text">NEW
				</div>
				<select class="form-control" id="select" ng-model="categoryJ">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				</select>
			  </div>
			</div>

			<div class="form-group">
			  <label for="subject" class="col-lg-2 control-label">SUBJECT</label>
			  <div class="col-lg-10">
				<input type="text" class="form-control" id="subject" ng-model="subject" placeholder="Subject">
			  </div>
			</div>
			<div class="form-group">
			  <label for="textArea" class="col-lg-2 control-label">CONTENTS</label>
			  <div class="col-lg-10">
				<summernote config="options" ng-model="contents"></summernote>
			  </div>
			</div>
			<div class="form-group">
			  <div class="col-lg-10 col-lg-offset-2" style="text-align:right">
				<button class="btn btn-default" ng-click="close()">Cancel</button>
				<button class="btn btn-primary" ng-click="write()">Submit</button>
			  </div>
			</div>
		  </fieldset>
		</form>
	</div>
</script>
</div>

