<link rel="stylesheet" type="text/css" href="/asset/css/editor.css?v=20140104" />

<div style="height:10px">
</div>

	<!--ng-blur='key_blur($event)'-->
<input type='text' id='editor_target' ng-model='keytarget'   ng-keypress='key_press($event)'  class="hidden_box" autocomplete='off' ng-blur='key_blur($event)'>

<!-- TYPING AREA -->
<div style="width:2000px;">
	<div id="editor_num_area">
	</div>
	<div id="editor_area"  ng-keydown="key_down($event)" ng-blur='key_blur($event)' spellcheck='false'>
		<div style="position:relative;"><div class="editor_cursor">&nbsp;</div></div>
	</div>
</div>


<!-- DIALOG -->
<div ng-controller="editorDialogController" style="display:none">
<script type="text/ng-template" id="dialog_comm">
	<div class="modal-header">
		<h3 class="modal-title">RESULT</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="play()">REPLAY</button>
		<button class="btn btn-primary" ng-click="next()">NEXT</button>
		<button class="btn btn-primary" ng-click="close()">CLOSE</button>
	</div>
</script>
</div>

