<link rel="stylesheet" type="text/css" href="/asset/css/editor.css?v=20140104" />

<div style="height:10px">
</div>

<!--class="hidden_box"-->
<input type='text' id='editor_target' ng-model='keytarget'   ng-keydown="key_down($event)" ng-blur="editor_blur($event)" class="hidden_box"   autocomplete='off' >

<!-- TYPING AREA -->
<div id="editor_pann">
	<div id="editor_num_area">
	</div>
	<div id="editor_area" ng-esc="key_esc($event)"  ng-keydown="key_down($event)" ng-click='key_target($event)' spellcheck='false' style="outline:none;" ng-blur="key_blur($event)">
		<div style="position:relative;"><div class="editor_cursor">&nbsp;</div></div>
		<div style="position:relative;"><div class="editor_visual">&nbsp;</div></div>
	</div>
</div>

<!-- DIALOG -->
<div ng-controller="editorDialogController" style="display:none">
<script type="text/ng-template" id="dialog_comm">
	<div class="modal-header">
		<h3 class="modal-title">RESULT</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="play()">REPLAY</button>
		<button class="btn btn-primary" ng-click="next()">NEXT</button>
		<button class="btn btn-primary" ng-click="close()">CLOSE</button>
	</div>
</script>
</div>

