<!DOCTYPE html>
<html ng-app="superlucky">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SUPERLUCKY</title>
<script src="/asset/js/angular.js"></script>
</head>
<body>

<div ng-controller="loginController">
<form method="post" action="" >
	ID 
	<input ng-model="id"   name="id"   type="text"  />
	PASS 
	<input ng-model="pass" name="pass" type="password"  />
	<input type="button" value="LOGIN" ng-click="login_button()" />
</form>
</div>

<script>
var superlucky = angular.module('superlucky', []);
superlucky.controller('loginController', function ($scope,$http) {

	// 로그인 이벤트
	$scope.login_button = function(){
		$http({
			url: '/user/login',
			method: "POST",
			data: {
				id   : $scope.id,
				pass : $scope.pass
			}
		}).
		success(function(data){
			if(data.result == 'true'){
				location.replace('/');
			}
			else{
				alert('fail');
			}
		}).
		error(function(data){
			alert('서버오류 입니다.');
		});
	}
});
</script>
</body>
</html>
