<!DOCTYPE html>
<html ng-app="login">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SUPERLUCKY</title>
<script src="/asset/js/angular.js"></script>
<script src="/asset/js/ui_bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="/asset/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/asset/css/login.css" />
</head>
<body>

<div ng-controller="loginController" class="container">
	<form method="post" action="" class="form-signin" >
		<span style="font-size:77px">LOGIN</span>
		<button type="button" ng-click="signup($event)" class="btn btn-xs btn-danger">SignUp</button>
		<input ng-model="id"   name="id"   type="text"     class="form-control" placeholder="Id" autofocus />
		<input ng-model="pass" ng-enter="login_button()"  name="pass" type="password" class="form-control" placeholder="Pass" />
		<button ng-click="login_button()" class="btn btn-lg btn-primary btn-block" type="button">LOGIN</button>
	</form>
	</div>

	<div ng-controller="dialogController" style="display:none">
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">{{ alert_msg }}</h3>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">OK</button>
		</div>
	</script>
	<script type="text/ng-template" id="signin.html">
		<div class="modal-body">
			<label class="col-sm-10 control-label" >Id</label>
			<input class="form-control" type="text" id="sign_id" ng-model="id" placeholder="Id">
			<br>
			<label class="col-sm-10 control-label" >Pass</label>
			<input class="form-control" type="password" id="sign_pass" ng-model="pass" placeholder="Pass">
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="regist()">Regist</button>
			<button class="btn btn-primary" ng-click="ok()">Cancel</button>
		</div>
	</script>
</div>

<script>
var login = angular.module('login', ['ui.bootstrap']);
</script>
<script src="/asset/js/controller/login.js"></script>
</body>
</html>
